.list{ 
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  padding: 0;
  margin: auto;
  background: #62ab35;
  box-sizing: border-box;
  list-style: none;
}

.list a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  display: block;
}

a:hover{
  color: #62ab35;
}

.btn{
  width: 25%;
  margin: auto;
  border: 1px solid;
  border-left: none;
  text-align: center;
}

.btn:nth-child(4n+4){
  border-right: none;
}

.btn:hover{
  background: white;
}