.lister{ 
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  padding: 0;
  margin: auto;
  background: #62ab35;
  box-sizing: border-box;
  list-style: none;
}

.list {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  display: block;
  width: 25%;
  margin: auto;
  border: 1px solid black;
  border-top: none;
  cursor: pointer;
  border-left: none;
  text-align: center;
}

.list::selection{
  background: transparent;
  /* color: transparent; */
}

.btn:nth-child(4n+4){
  border-right: none;
}

.list:hover{
  background: white;
  color: #62ab35;
}
