.title_converter{
  color: white;
  font-weight: 500;
  width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.inputEuro{
  height: 40px;
    font-size: 1.2rem;
     background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='85px'><text x='2' y='13' fill='gray' font-size='12' font-family='arial'>€</text></svg>");
     background-repeat: no-repeat;
     background-size: 210px;
     outline: none;
     border: none;
     padding-left: 30px;
     background-position-y: -0.1rem;
}

.sym{
  font-size: 2rem;
    color: white;
    background: #62ab35;
}


.euro{
  width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 2rem; */
}