.App{
  background-image: url('./img/background.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh;
}

.cbalink{
  display: none;
}